name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Push Docker image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Build and publish Playwright service image
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64
          tags: ghcr.io/${{ github.repository_owner }}/playwright-runner:latest
